keystore_files/upload-keystore.jks
keystore_files/Appfile
keystore_files/pc-api-7544041306212151668-842-081c5b393ff8.json
keystore_files/release.keystore.properties
keystore_files/env_base64
keystore_files/env_base64.env
docker-compose.yml
